.header .navbar {
  margin-bottom: 0;
}
#main-content {
  width: 100%;
  padding: 50px 0 0 0;
}
.primary {
  background: #fafafa;
  padding: 0;
  border-right: 1px solid #BDBDBD;
}
.primary ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}
.primary ul li a {
  padding: 6px 0 6px 50px;
  display: block;
}
.primary ul li a:hover {
  background-color: #f0f0f0;
}
