@font-face {
  font-family: 'helvetica_neue';
  src: url('../fonts/helveticaneue-extended-webfont.woff2') format('woff2'),
       url('../fonts/helveticaneue-extended-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
html {
  min-height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
  overflow-y: scroll;
}
a:hover {
  text-decoration: none;
}
div.img, .btn, h1, h2, h3, img {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
  cursor: default;
  font-family: 'helvetica_neue', sans-serif;
}
.no-padding {
  padding: 0;
}
.link {
  cursor: pointer;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.header .navbar {
  background-color: #3F51B5;
  border: none;
  border-radius: 0;
  font-family: 'helvetica_neue', sans-serif;
}
.header .navbar .navbar-brand {
  font-size: 18px;
  color: #fafafa;
}
.header .navbar ul > li > a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
  font-size: 16px;
  color: #fafafa;
}
.header .navbar .navbar-brand:hover,
.header .navbar ul > li > a:hover {
  color: #fefefe;
}
.header .navbar .dropdown-menu li a {
  color: #3F51B5;
}
.header .navbar .dropdown-menu li a:hover,
.header .navbar .dropdown-menu li a:active {
  color: #3F51B5;
}

.header .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}
.header .navbar-right {
  margin-top: 10px;
}
.main-content {
  padding-top: 50px;
}
.section.full-height {
  min-height: 100vh;
}
.section.padding {
  padding: 50px 0;
}
.section .section-title {
  text-align: center;
  margin-bottom: 40px;
}

/* Buttons */
.btn {
  border-radius: 2px;
  border: none;
  min-width: 80px;
  padding: 6px 16px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,0.5);
  overflow:hidden;
  position: relative;
  cursor: pointer;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn:active {
  background: none;
  background-color: transparent;
  text-decoration: none;
}
.btn:hover,
.btn:active:hover {
  text-decoration: none;
}
.btn:focus {
  background: none;
  background-color: transparent;
  text-decoration: none;
}
.btn-default,
.btn-default:active,
.btn-default:active:hover {
  color: #fafafa;
  background-color: #3F51B5;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #9FA8DA;
}
.btn-primary {
  color: #fafafa;
  background-color: #FF9800;
}
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:hover {
  background-color: #FFB74D;
}
.btn.flat {
  box-shadow: none;
  background-color: transparent;
}

.btn-white.flat {
  color: #fafafa;
}
.btn-default.flat,
.btn-default.flat:active {
  color: #3F51B5;
}
.btn-default.flat:hover,
.btn-default.flat:focus {
  background-color: #E8EAF6;
}
.btn-primary.flat:hover,
.btn-primary.flat:focus {
  background-color: #FFF3E0;
}
.btn-primary.flat,
.btn-primary.flat:active {
  color: #FF9800;
}
.btn-round {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 22px;
  padding: 5px;
  min-width: 30px;
  text-align: center;
  background-color: #448AFF;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  color: #fafafa;
}
.btn-round:hover {
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.5);
  color: #fafafa;
}
.btn-round:hover:active,
.btn-round:active {
  background-color: #447eff;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  color: #fafafa;
}
.btn.has-icon {
  padding: 4px 16px;
}
.btn.has-icon span:first-child {
  backface-visibility: hidden;
  display: block;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 10px;
}
.btn.has-icon span:nth-child(2) {
  top: 2px;
}
/* Cool ripple effect */
.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  z-index: 0;
  animation: ripple-animation 1.5s;
}
@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.3;
  }
  to {
    transform: scale(10);
    opacity: 0;
  }
}
/* /ripple effect */
/* forms */
form {
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.form-group {
  margin-bottom: 16px;
  height: 42px;
}
.form-group.has-textarea,
.form-group.has-file {
  height: auto;
}
.form-group .control-label {
  color: #BDBDBD;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  bottom: -28px;
  margin: 0;
  visibility: hidden;
  transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
}
.form-group .control-label.show {
  bottom: 0;
  visibility: visible;
  font-size: 12px;
  padding: 2.6px 0;
  transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -ms-transition: 0.3s all ease-in;
  -webkit-transition: 0.3s all ease-in;
}
.form-group .control-label.focus {
  color: #3F51B5;
}
.form-group .form-control {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 26px;
  color: #333;
  transition: 0.4s border-bottom ease-in;
  -moz-transition: 0.3s border-bottom ease-in;
  -ms-transition: 0.3s border-bottom ease-in;
  -webkit-transition: 0.3s border-bottom ease-in;
}
.form-group .form-control:focus {
  border-bottom: 2px solid #3F51B5;
  transition: 0.3s border-bottom ease-in;
  -moz-transition: 0.3s border-bottom ease-in;
  -ms-transition: 0.3s border-bottom ease-in;
  -webkit-transition: 0.3s border-bottom ease-in;
  outline: none;
}
.form-group textarea.form-control {
  height: auto;
  resize: none;
}
.form-group .form-control[type="file"] {
  position: absolute;
  bottom: 0;
  opacity: 0;
}
/* /forms */
/* cards */
.content-card {
  margin: 20px auto 0;
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 1px 5px -2px rgba(0,0,0,0.5);
  max-width: 800px;
}
.content-card.fluid {
  max-width: 100%;
}
.content-card:last-child {
  margin-bottom: 20px;
}
.card-header {
  padding: 0 16px;
  overflow: hidden;
}
.card-header .btn {
  margin-left: 20px;
}

.card-header-image img{
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

.card-content {
  padding: 16px;
}
.card-content.post {
  padding: 26px;
}
.card-content.post p {
  line-height: 1.6;
  font-size: 15px;
  text-align: justify;
}
.card-content.post h1:first-child {
  margin-bottom: 30px;
}
.card-content.post figure {
  float: left;
  margin: 6px 16px;
  text-align: center;
  color: #888;
  font-style: italic;
  line-height: 1.6;
}
.post .tag-list {
  margin-top: 20px;
}
.post .tag-list h4 {
  color: #777;
}
.post .tag-list .tag {
}

/* /cards */
/* social icons */
.social-icons {
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  margin-left: 5px;
}
.social-icons li a {
  background-color: white;
  border-radius: 50%;
  padding: 3px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.5);
  display: block;
  cursor: pointer;
  transition: box-shadow, 0.4s, ease-in;
}
.social-icons li a:hover {
  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.5);
  transition: box-shadow, 0.4s, ease-in;
  position: relative;
  bottom: 1px;
}
.social-icons li a span {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* /social icons */
/* footer */
.footer {
  color: #fafafa;
  background-color: #3F51B5;
}
.footer .first-padding {
  padding: 30px 0 20px;
}
.footer .second-padding {
  padding: 15px 0 15px;
  background-color: #303F9F;
}
.footer .social-icons {
  float: right;
}
.footer .copyright-text {
  color: #fafafa;
}

/* /footer */
@media(max-width: 768px) {
  .card-content.post figure img {
    width: 100%!important;
    height: auto!important;
  }
  .section.padding {
    padding: 30px 0;
  }
}
